body {
  font-family: 'Alice', serif;
  font-family: 'Arima Madurai', cursive;
}

h1 {
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-size: 3em;
  line-height: 1.5;
}
svg {
  width: 24px;
  height: 24px;
}
svg path {
  fill: red;
}

.purple {
  color: rgb(62, 8, 62);
}

#id {
  text-shadow: 2px 2px 5px rgb(50, 15, 15);
}
/* ctrl and forward slash at the same time for comments */
